.main{background-color: #F4F4F4;}
.main_1{background-color: #d8d8d8;}
.main_1_top{width: 1200px;margin: auto;font-size: 16px;color: #8d8d8d;height: 40px;line-height: 40px;}
.main_1_conter{width:1200px;height: 590px;margin: auto;}
.main_1_botter{width: 880px;height: 510px;border: 1px solid #626262;margin: auto;margin-bottom: 50px;}
.main_1_botter_div{width: 760px;margin: auto;font-size: 16px;color: #8d8d8d;line-height: 40px;}
