.main{background-color: #f1f1f1;margin-bottom: 50px;}
.main_1{background-color: #d8d8d8;}
.main_1_top{width: 1200px;margin: auto;font-size: 16px;color: #8d8d8d;height: 40px;line-height: 40px;}
.main_1_conter{width:1200px;margin: auto;}
.main_1_conter_div1{width: 300px;}
.main_1_conter_div2{width: 900px;}
.div_img{height: 645px;margin-top: 30px;padding-bottom:30PX ;}

.div_img1{font-size: 14px;color: #767676;line-height: 30px;}
.div_img1 p{text-indent: 30px;margin-top: 35px;}
.jian{width: 220px;padding-bottom: 70px;color: #999999;margin-top: 25px;}
.jian div{width: 106px;height: 35px;line-height: 35px;text-align: center;border: 1px solid #999999;}