.main{background-color: #F4F4F4;margin-bottom: 50px;}
.main_1{background-color: #d8d8d8;}
.main_1_top{width: 1200px;margin: auto;font-size: 16px;color: #8d8d8d;height: 40px;line-height: 40px;}
.main_1_conter{width:1200px;margin: auto;background-color:white;}
.main_1_conter_div{width: 1100px;margin: auto;font-size: 14px;color: #898989;line-height: 40px;margin-bottom: 35px;}
.main_1_conter_botter{width: 900px;height: 590px;margin: auto;padding-bottom: 300px;}